/* Configuración principal de la página */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Kalam', cursive;
  }

  header{
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  .contenedor{
    width: 100%;
    margin: auto;
  }
  
  h1 {
    float: left;
  }
  
  header .contenedor{
    display: table;
  }
  
  section{
    width: 100%;
    margin-bottom: 2%;
  }
  
  #video h2{
    margin: 10px;
  }
  
  #youtube {
    border: 5px solid red;
  }
  
  #contacto h2{
    margin: 10px;
  }
  
  .redes{
    text-align: center;
  }
  
  #f{
    background: white;
    color: #3b5998;
  }
  
  #w{
    background: white;
    color: #00bb2d;
  }
  
  #i{
    background: white;
    color: #C13584;
  }

  /* Imagen de la página */
#banner{
    margin-top: 10%;
    position: relative;
  }
  
  #banner img{
    width: 100%;
    height: 100%;
  }
  
  #banner .contenedor{
    position: absolute;
    top: 75%;
    left: 5%;
    color: #fff;
  }
  
  #banner h2{
    font-size: 26px;
  }
  
  #banner a{
    display: block;
    width: 100px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    border: 3px solid #fff;
  }
  
  #banner a:hover{
    background-color: rgba(51, 51, 51, 0.5);
    font-size: 17px;
  }

  /* Información */
#info {
    background: #8B0000;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  #info .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .info_cars{
    margin: 20px;
  }
  
  .info_cars img{
    width: 180px;
    height: 220px;
    border-radius: 50%;
    border: 7px solid black;
  }

  /* Menú de la página */
#menu_bar{
    display: none;
  }
  
  header label{
    float: right;
    font-size: 28px;
    cursor: pointer;
    margin: 6px 0;
  }
  
  .menu {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 50px;
    left: 0;
    background-color: #8B0000;
    transition: all 0.5s;
    transform: translateX(-100%);
  }
  
  .menu a{
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  
  .menu a:hover{
    background: rgba(255, 255, 255, 0.3);
  }
  
  /*Acomodar el menu a la pantalla*/
  @media(min-width: 1024px) {
    .menu {
      position: static;
      width: auto;
      height: auto;
      display: flex;
      transform: translateX(0%);
      float: right;
    }
    .menu a{
      border: none;
    }
  }
  
  #menu_bar:checked ~ .menu{
    transform: translateX(0%);
  }
  
/* Información de la página */
#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  #blog article{
    margin: 2%;
  }
  
  #blog img{
    width: 280px;
    max-width: 280px;
    height: 13em;
  }
  
  #blog h4, h2{
    text-align: center;
  }
    